<div class='navigation' ng-controller='AuthController'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a href='#/logout' class='logout' ng-click='logout()'>Logout</a></li>
  </ul>
</div>
<div id='container' class='creator'>
<!-- Your code here -->
  <form ng-submit='addLink()'>
      <input class='text shortenform' type='text' name='url' ng-model='link.url'>
      <input type='submit' value='Shorten' class='shortenbutton'>
      <div ng-hide='checkValidUrl()'>Not a valid URL</div>
  </form>
  <div class='message'></div>

</div>


